@use '../helpers/media-query' as mq;

.section-contact {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;


    @include mq.set-breakpoint('small') {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq.set-breakpoint('medium') {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq.set-breakpoint('large') {
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq.set-breakpoint('x-large') {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section-contact > div {
    padding-bottom: 10px;

    h3 { 
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        padding: 1rem 0;
    }

    h4 {
        font-size: 1.1rem;
        display: flex;
        column-gap: 5px;
        padding:0.5rem 0;

        @include mq.set-breakpoint('small') {
            font-size: 1.5rem;
        }
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.section-contact > form {
    display: grid;
    gap: 10px;

    @include mq.set-breakpoint('x-large') {
        grid-template-columns: 1fr 1fr;
    }

    input,
    textarea {
        background-color: lightgrey;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        color: black;

        @include mq.set-breakpoint('x-large') {
            grid-column: span 2;

            &[id="firstname"],
            &[id="lastname"] {
                grid-column: span 1;
                grid-row: 2;
            }
        }
    }

    textarea {
        height: 10rem;
    }

    button {
        margin: 20px 0;
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        justify-self: center;
        background-color: #f3f0ff;

        &:hover {
            cursor: pointer;
            background-color: #bfaffd;
        }

        @include mq.set-breakpoint('large') {
            justify-self: left;
        }

        @include mq.set-breakpoint('x-large') {

        }
    }
}