@use '../helpers/media-query' as mq;

.site-header {
    background-color: black;
    height: calc(100dvh - 50px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr max-content;
    justify-items: center;

    @include mq.set-breakpoint("medium") {
        height: 100dvh;
    }
}

.site-header {
    
    h2 {
        color: #fff;
        align-self: self-end;
    }

    p {
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: none;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
            padding-bottom: 10px;
    }
}