@use '../helpers/media-query' as mq;

.section-projects {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    @include mq.set-breakpoint('small') {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include mq.set-breakpoint('medium') {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq.set-breakpoint('large') {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq.set-breakpoint('x-large') {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;

    @include mq.set-breakpoint('small') {
        row-gap: 40px;
    }

    @include mq.set-breakpoint('medium') {
        row-gap: 30px;
    }

    @include mq.set-breakpoint('large') {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @include mq.set-breakpoint('x-large') {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
}

.project-list > article {
    position: relative;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;

    box-shadow: .3px 0.5px 0.7px hsl(0deg 0% 63% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(0deg 0% 63% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0deg 0% 63% / 0.36),
    5px 10px 12.6px -2.5px hsl(0deg 0% 63% / 0.36);
    
    img {
        border: 1px solid gray;
        width: 100%;
    }

    h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;

        @include mq.set-breakpoint('small') {
            font-size: 2rem;
        }

        @include mq.set-breakpoint('large') {
            font-size: 1.5rem;
        }
    }

    a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    p {
        text-decoration: none;
        color: black;
        display: flex;
        column-gap: 3px;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        @include mq.set-breakpoint('small') {
            font-size: 1.2rem;
        }
    }
}

.project-list > article:hover {
    translate: -10px -10px;
    box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.34),
                1.5px 2.9px 3.7px -0.4px hsl(0deg 0% 63% / 0.34),
                2.7px 5.4px 6.8px -0.7px hsl(0deg 0% 63% / 0.34),
                4.5px 8.9px 11.2px -1.1px hsl(0deg 0% 63% / 0.34),
                7.1px 14.3px 18px -1.4px hsl(0deg 0% 63% / 0.34),
                11.2px 22.3px 28.1px -1.8px hsl(0deg 0% 63% / 0.34),
                17px 33.9px 42.7px -2.1px hsl(0deg 0% 63% / 0.34),
                25px 50px 62.9px -2.5px hsl(0deg 0% 63% / 0.34);
    transition: 0.5s ease;
}