@use '../helpers/media-query' as mq;

.site-sidebar {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;

    @include mq.set-breakpoint('medium') {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr;
        min-height: 100%;
        align-items: normal;
        justify-items: center;
        box-shadow: .3px 0.5px 0.7px hsl(286deg 36% 56% / 0.36),
                    0.8px 1.6px 2px -0.8px hsl(286deg 36% 56% / 0.36),
                    2.1px 4.1px 5.2px -1.7px hsl(286deg 36% 56% / 0.36),
                    5px 10px 12.6px -2.5px hsl(286deg 36% 56% / 0.36);
    }
}

.site-sidebar header {
    padding: 2rem;
}

h1 {

    @include mq.set-breakpoint('medium') {
        font-size: 5rem;
    }
}

.site-sidebar a {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.site-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-menu {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(3, min-content);
    column-gap: 10px;

    p {
        grid-column: 1;
        grid-row: 1 / -1;
    }

    .menu-top,
    .menu-inner,
    .menu-bottom {
        background-color: black;
        width: 30px;
        height: 5px;
        margin: 2px;
    }


    @include mq.set-breakpoint('medium') {
        display: none;
    }
}

.site-nav,
.site-social {
    display: none;

    @include mq.set-breakpoint('medium') {
        display: block;
    }
}

.site-nav {
    padding: 4rem 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.site-nav a {
    display: flex;
    column-gap: .5rem;

    &:hover i {
        text-decoration: none;
    }
}

.site-nav > ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}


.site-social {
    padding-top: 2rem;
}

.site-social > ul {
    display: flex;
    column-gap: .5rem;
}