@use '../helpers/media-query' as mq;

.site-sidebar {
    display: grid;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    grid-template-columns: 55px 1fr;
    grid-template-rows: 55px max-content;
    align-items: center;
    justify-items: center;
    min-height: 55px;
    color: black;
    z-index: 10;
    border-bottom: 2px solid black;

    @include mq.set-breakpoint('medium') {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr;
        min-height: 100%;
        align-items: normal;
        justify-items: center;
        box-shadow: .3px 0.5px 0.7px hsl(286deg 36% 56% / 0.36),
                    0.8px 1.6px 2px -0.8px hsl(286deg 36% 56% / 0.36),
                    2.1px 4.1px 5.2px -1.7px hsl(286deg 36% 56% / 0.36),
                    5px 10px 12.6px -2.5px hsl(286deg 36% 56% / 0.36);
    }
}

.site-sidebar header {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    border-right: 1px solid lightgrey;
    
    @include mq.set-breakpoint('medium') {
        padding: 2rem;
    }

    a {
        color: black;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background-color: #bfaffd;
        }

        @include mq.set-breakpoint('medium') {
            padding: 0 2rem;
        }
    }
}

h1 {

    @include mq.set-breakpoint('medium') {
        font-size: 5rem;
    }
}

.site-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-menu {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(3, min-content);
    column-gap: 10px;
    background-color: inherit;
    border: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;

    span:first-of-type {
        grid-column: 1;
        grid-row: 1 / -1;
    }

    .menu-top,
    .menu-inner,
    .menu-bottom {
        background-color: black;
        width: 30px;
        height: 5px;
        margin: 2px;
    }


    @include mq.set-breakpoint('medium') {
        display: none;
    }
}

.site-nav,
.site-social {
    grid-column: span 2;
    display: none;

    @include mq.set-breakpoint('medium') {
        display: block;
        grid-column: span 1;
    }
}

.site-nav.active,
.site-social.active {
        display: block;
}

.site-nav {
    border-top: 1px solid lightgrey;
    width: 100%;

    @include mq.set-breakpoint('medium') {
        width: auto;
        padding: 4rem 0;
        border-bottom: 1px solid lightgrey;
    }
}

.site-nav a,
.site-social a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    
    display: flex;
    column-gap: .5rem;

    &:hover i {
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }

}

.site-nav > ul {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    li {
        display: flex;
        padding: 1rem 0;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
    }

    li:hover {
        background-color: #bfaffd;
        a {
            text-decoration: underline;
        }
    }
}

.site-social {
    padding: 1.5rem 1.5rem;
    border-top: 1px solid lightgrey;
}

.site-social > ul {
    display: flex;
    column-gap: .5rem;
}