@use "sass:math";
@use '../vars/config';

// ****
// ** Font Families;
// ****
%poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

// ****
// **  px to rem Converter
// ****
// ** credits: TeamTreeHouse Video - Modular SCSS
// ****
// ** edited to use math.div instead of /
// ** https://sass-lang.com/documentation/breaking-changes/slash-div/
// ****
@function size($target, $context: config.$font-size) {
  @return math.div($target, $context) * 1rem;
}